.button {
   background-color: #DC3D4B;
   border-radius: 10px;
   font-weight: 700;
   font-size: 18px;
   padding: 32px;
   border: none;
   cursor: pointer;
   color: #fff;
   margin: 24px 0;
   transition: 0.08s;
}

.button:hover {
   background-color: #b6303b;
}